:root
{
    --color-resaltado: rgb(0, 230, 241);
    --color-hover: #8cffff;
    --color-resaltado-trans: rgba(0, 229, 241, .5);
    --color-hover-trans: hsla(180, 100%, 77%, .589);
    --color-background: #282320;
}
body .display-botones
{
    position: relative;
    z-index: 20;

    display: flex;
    flex-wrap: wrap;

    width: 95%;
    min-width: 200px;
    margin: auto;
}



.display-btnNumbrer
{
    display: flex;

    width: 97%;
    margin: auto;
}

body .marco-display
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 97%;
    min-width: 200px;
    min-height: 350px;

    border-radius: 7px;
    background: #caede1;
}

body .marco-display .notas
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 96%;
    height: 60px;

    border-radius: 6px;
    box-shadow: -3px -3px 20px -1px #d7f1ebb7, inset 2px 5px 5px 3px rgba(216, 248, 238, .726), 7px 7px 20px 0 #0002, 4px 4px 5px 0 #0001;
}

.borde-linea
{
    display: flex;

    width: 97%;

    border: inset 1px #7fd1b9;
    border: inset .5px hsla(0, 3%, 12%, .137);
    border-radius: 5px;
}

body .marco-display .notas .borde-notas
{
    display: flex;
    overflow: hidden;
    justify-content: flex-start;

    width: 96%;
    height: 40px;
}



body .marco-display .notas .edit
{
    border: inset .5px var(--color-resaltado-trans);
    box-shadow: 1px 1px 6px 0 #fff,
    inset -2px -2px 8px 0 var(--color-resaltado-trans),
    inset 2px 2px 8px 0 var(--color-resaltado-trans),
    inset -1px -1px 2px 2px #fff,
    inset 9px 9px 30px 0 var(--color-hover-trans);
}



body .marco-display .notas .borde-notas p
{
    font-family: 'Play', sans-serif;
    font-size: 1.25rem;

    display: inline-block;
    align-self: center;   

    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

/* METRO SUBDIVICIONES */
.activo{
color: crimson;
border:1px solid crimson;

}

body .marco-display .notas .borde-notas .guiones{
    
    font-size: 3rem;
    line-height: 1.2rem;
    
    /* border-bottom-color: black; */
    


}

/* --------boton-cerrar-linea----- */

.contenedor-iconos
{
    display: flex;
    order: 2;
}

.close
{
    font-family: sans-serif;
    /* position: relative;
    right: -96%; */

    display: flex;
    align-items: center;
    align-self: center;
    /* flex-shrink: 0; */
    justify-content: center;

    width: 25px;
    height: 25px;
    margin: 0 10px 0 5px;

    cursor: pointer;

    color: #acacac;
    border-radius: 100%;
    background-image: linear-gradient(rgba(146, 187, 172, .616), rgba(255, 255, 255, .87));
}

.close:hover
{
    background-image: linear-gradient(rgba(255, 255, 255, .87), rgba(155, 187, 175, .726));
}

.cruz
{
    font-size: 20px;

    display: flex;
    visibility: hidden;
    align-items: center;
    align-self: center;

    height: 30px;
    margin: 0 10px 0 5px;
    padding: 0 7px;

    color: #7fd1b9;
    border: solid 1px #7fd1b9;
    border-radius: 20%;
    box-shadow: 3px 3px 15px 0#7fd1b98e,
    -3px -3px 15px 0 #7fd1b98c,
    inset -1px -1px 10px 0 #fff9,
    inset -2px -2px 1px 0 #7fd1b9c5,
    inset 2px 2px 2px 0 #7fd1b9c5,
    1px 1px 5px 0 #7fd1b9c5;
    text-shadow: 1px 1px 6px  #9ad6c4;
}

.mostrar
{
    visibility: visible;
}

.drutam{
    border: 2px solid #db664a;
    border-radius: 3px;
    padding: 1px 2px;

}


.alertas{

    position: absolute;
    left: 20%;
    width: 50%;    
    border: 2px solid #fff;
    background-color: #282320;
    visibility: hidden;
    display: flex;
    justify-content: space-around;
    font-family: 'Play', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #282320;
    background-image: url('../assets/cuero.png');
    box-shadow: inset -5px -5px 4px #0a0908, inset 5px 5px 1px #4d433d;
    border-radius: 7px;
    padding: 10px 10px;
    transition: all ease 1s ;
}

.alertas-activo{
    visibility: visible;
    color: #fff;

}



.option-bol option{
    display: block;
    overflow: auto;
    font-size: 1.2rem;
    color: var(--color-resaltado);
    background-color: rgba(20, 18, 18);
    
}
/* ---------------------------------------------------------METRO------------------------------------- */

.metro{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play{
    
    height: 40px;
    color:#3d700e;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    text-shadow: 1px 1px 7px rgba(133, 182, 90, 0.329);
    box-shadow: -1px -1px 4px 0px rgba(255, 255, 255, 0.651),
    inset -1px -1px 0px 0px rgba(255, 255, 255, 0.26);
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    
}






/* body .marco-display .notas .borde-notas img {
    filter: drop-shadow(3px 2px 2px rgb(151, 149, 149));
}

body .nota2 {
    position: relative;
    left: -2px;
}

body .nota3 {
    position: relative;
    padding-top: 2px;
    align-self: center;
    left: -4px;
} */
