:root
{
    --color-resaltado: rgb(0, 230, 241);
    --color-hover: #8cffff;
    --color-resaltado-trans: hsla(183, 100%, 47%, .502);
    --color-hover-trans: hsla(180, 100%, 77%, .589);
    --color-background: #282320;
}


.contenedor-button-display
{
    font-family: 'Play', sans-serif;
    font-size: 1.5rem;
   

    display: flex;
    align-content: center;
    justify-content: space-evenly;

    width: 97%;
    max-height: 2.5rem;
    margin: auto;
    padding: 14px 0;

    border-radius: 7px;
    background-color: #282320;
    /* background-image: url('../assets/cuero.png'); */
    box-shadow: inset -5px -5px 4px #0a0908, inset 5px 5px 1px #4d433d;
}

.info
{
    font-size: 1.2rem;

    display: flex;
    justify-content: space-around;

    max-height: 22px;
    padding: 10px 0;
    background-image: none;
}

.info label
{
    color: #fff;
}

.info input
{
    font-family: 'Play', sans-serif;
    font-size: 18px;

    max-width: 350px;
    padding: 2px 10px;

    border: none;
    border-radius: .2rem;
}
.info .nBeats
{
    width: 70px;
}
.button-display
{
    font-family: 'Play', sans-serif;
    font-size: 1rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    width: 60px;
    max-width: 80px;
    height: 40px;
    min-height: 20px;

    text-decoration: none;

    color: #fff;
    border: solid 1px #fff;
    border-radius: 4px;
    background-image: -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0)0%,
    
    hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, .1) 7.5%), -webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 4%, hsla(0, 0%, 0%, .03) 4.5%), -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, .15) 2.2%), linear-gradient(180deg, hsl(0, 0%, 0%) 0%, hsl(0, 0%, 10%) 47%, hsl(0, 0%, 0%) 53%, hsl(0, 0%, 10%)100%);
    box-shadow: 1px 1px 10px -2px rgba(255, 255, 255, .5),
    -1px -1px 10px -5px #fff9,
    1px 1px 4px -1px rgba(255, 255, 255, .712),
    -1px -1px 4px -1px rgba(255, 255, 255, .541),
    -3px -1px 3px 6px #141210,
    3px 1px 3px 6px #141210;
}

.button-display:hover
{
    box-shadow: 1px 1px 10px -2px rgba(255, 255, 255, .5),
    -1px -1px 10px -5px #fff9,
    inset 1px 2px 20px -1px rgba(255, 255, 255, .247),
    inset -1px 2px 20px -1px rgba(255, 255, 255, .212),
    -3px -1px 3px 6px #141210,
    3px 1px 3px 6px #141210;
}

.button-display:active
{
    color: rgb(72, 191, 227);
    border-bottom: 1px solid #48bfe3;
    outline: none;
    box-shadow: 3px 3px 20px 10px #fff6, -1px -1px 20px 0 #72efdc59, inset -1px -1px 30px 0 #fff9, inset -2px -2px 1px 0 #56cfe1, inset 2px 2px 1px 4px #56cfe1, 1px 3px 5px 4px #72efdd, -5px -10px 30px 0 #0002, -1px -8px 30px 0 #0002;
    text-shadow: 0 0 30px #72efdd,
    0 0 20px #56cfe1;
}






.encendido
{
    font-family: 'Play', sans-serif;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    width: 60px;
    max-width: 80px;
    height: 40px;
    min-height: 20px;

    color: var(--color-resaltado);
    border: solid 1px var(--color-resaltado);
    border-radius: 4px;
    outline: none;
    background-image: -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0)0%,
    hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, .1) 7.5%), -webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 4%, hsla(0, 0%, 0%, .03) 4.5%), -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, .15) 2.2%), linear-gradient(180deg, hsl(0, 0%, 0%) 0%, hsl(0, 0%, 10%) 47%, hsl(0, 0%, 0%) 53%, hsl(0, 0%, 10%)100%);
    box-shadow: 3px 3px 15px 0 var(--color-hover-trans),
    -3px -3px 15px 0 var(--color-hover-trans),
    inset -1px -1px 10px 0 #fff9,
    inset -2px -2px 1px 0 var(--color-hover-trans),
    inset 2px 2px 2px 0 var(--color-hover-trans),
    1px 1px 5px 0 var(--color-hover-trans),
    -3px -3px 6px 0 #000,
    3px 3px 6px 0 #000,
    3px -1px 3px 6px #141210,
    3px 1px 3px 6px #141210;
    text-shadow: 1px 1px 6px  var(--color-resaltado);
}
.ledBlanco
{
    width: 30%;
    margin-bottom: 15%;
    padding: 0 3px;

    border-bottom: 5px solid #fff7ff;
}
.ledAzul
{
    width: 31%;
    margin-bottom: 15%;
    padding: 0 3px;

    border-bottom: 5px solid #7fd1b9;
    box-shadow: 0 0 30px #7fd1b9, 0 0 20px #7fd1b9;
}


/* -----------------------------------------btn-number-------------------------- */


.contenedor-btnNumber
{
    display: grid;
    align-content: space-around;
    align-self: flex-end;
    justify-content: space-around ;

    height: 350px;
    max-height: 700px;
    padding: 14px 14px;

    border-radius: 7px;
    background-color: #282320;
    box-shadow: inset -5px -5px 4px #0a0908, inset 5px 5px 1px #4d433d;

    grid-template-columns: 1fr 1fr;
    gap: 10px;
}




.btn-number
{
    font-family: 'Play', sans-serif;
    font-size: 18px;

    height: 30px;
}

.back
{
    font-family: 'Play', sans-serif;
    font-size: 18px;

    width: 100%;
    max-width: 100%;

    justify-self: stretch;
    grid-column: 1/span 2;
}
