/* este es el css global */
html
{
    scroll-behavior: smooth;
}

body
{
    box-sizing: border-box;

    background: #282320;
}

body h1
{
    font-family: 'Play', sans-serif;
    font-size: 40px;

    margin: 0;

    color: #7fd1b9;
}

.logo-titulo
{
    display: flex;
    align-items: center;
    justify-content: space-between ;

    width: 90%;
    margin-bottom: 3.125rem;
    margin-left: 5%;
    /* z-index: 20; */
    padding-top: 20px;
}
.logo
{
    width: 16rem;
}

.titulo-subrayado
{
    display: flex;
    display: inline-block;
    flex-direction: column;
    justify-content: center;

    width: 10.625rem;
    margin: auto;
    margin-right: 200px;
}

.caja-subr
{
    padding-bottom: 3px;

    border-bottom: 4px solid #ffd152;
}

.subrayado
{
    align-self: flex-start;

    height: 10px;

    background-color: #db664a;
}

.footer
{
    order: 4;

    width: 95%;
    margin: auto;
    margin-top: 5px;

    border: .5px solid #fff;
    border-radius: 3px;
}

.footer-texto
{
    font-size: 1.2rem;

    padding: 5px 20px;

    color: white;
}
