/* este es el css global */

body {
    background: #282320;
    box-sizing: border-box;
}

body h1 {
    font-family: 'Play', sans-serif;
    font-size: 40px;
    color: #7fd1b9;
    margin: 0;
}

.logo-titulo{
    padding-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 3.125rem;

}
.logo{
    width: 16rem;
}

.titulo-subrayado {
    
    margin-right:200px;
    width: 10.625rem;
     margin: auto;
    display: flex;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
}

.caja-subr {
    padding-bottom: 3px;
    border-bottom: 4px solid #FFD152;
}

.subrayado {
    align-self: flex-start;
    height: 10px;
    background-color: #DB664A;
}